// colores
$darkPurple: #31246a;
$lightPurple: #8e278e;
$light: #fefefe;
$lightGray: #e4e2e2;
$green: #00be39;
$darkGreen: #066e25;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Questrial', sans-serif !important;
    background-color: $lightGray !important;
}
